extends layout

block content
	div#intro
		h1 Login 
		
	form#login
		div
			label Email:
			input(type="email", name="email", required)
		div
			label Password:
			input(type="password", name="password", required)
		div
			input(type="submit", value="Login")
			
	a(href='/register') Register

	script(src='/javascripts/login.js')