extends layout

block content
	div#intro
		h1 Login 
	div#error
	form#login
		div
			label Email:
			input(type="email", name="email", required)
		div
			label Password:
			input(type="password", name="password", required)
		div
			input(type="submit", value="Login")
			
	a(href='/auth/signup') Register
	script.
		const hostname = "#{hostname}";
	script(src='/javascripts/login.js')