extends layout

block content
		
	<div id="intro">   
	<h1> Login </h1>
	</div>
	
	<form id="login">
	<div>
	<label>Email:</label>
	<input type="email" name="email" required />
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password" required />
	</div>

	<div>
	<input type="submit" value = "Login">
	</div>
	</form>
	
	<a href="/register">Register</a>

	script(src='/javascripts/login.js')