extends layout

block content
	div#all
		a(href='/todo') Back
		|&nbsp;&nbsp;&nbsp;&nbsp;
		a(href='' onclick='logout()') Logout
		div#report
	div#error
	

	script.
		var hostname = "#{hostname}";
	script(src='/javascripts/report.js')