extends layout

block content
	a(href=`/todo/`+userID) Back
	|  
	a(href=`/`) Logout
	<div id='report'>
		
	</div>
	script.
		var userID = !{JSON.stringify(userID)};
	script(src='/javascripts/report.js')