extends layout

block content
	a(href=`/todo/?token=`+token) Back
	|  
	a(href=`/`) Logout
	<div id='report'>
		
	</div>
	script.
		var token = !{JSON.stringify(token)};
	script(src='/javascripts/report.js')