extends layout

block content
	div#header
		a(href='/todo') Back
		|&nbsp;&nbsp;&nbsp;&nbsp;
		a(href='' onclick='logout()') Logout
	div#error
	div#report

	script.
		var hostname = "#{hostname}";
	script(src='/javascripts/report.js')