extends layout

block content
	a(href=`/todo/?token=`+token) Back
	|&nbsp;&nbsp;&nbsp;&nbsp;
	a(href=`/`) Logout
	div#report

	script.
		var token = !{JSON.stringify(token)};
	script(src='/javascripts/report.js')