extends layout

block content
		
	
	<div id="intro">   
	<h1> Register </h1>
	</div>
	<form id="signup">
	<div>
	<label>Name:</label>
	<input type="text" name="name" required />
	</div>
	<div>
	<label>Email:</label>
	<input type="email" name="email" required />
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password" required />
	</div>

	<div>
	<input type="submit" value = "Register">
	</div>
	</form>
	<a href="/login">Log In</a>

	script(src='/javascripts/signup.js')