extends layout

block content
		
	div#intro
		h1 Register
	form#signup
		div
			label Name:
			input(type='text', name='name', required=true)
		div
			label Email:
			input(type='email', name='email', required=true)
		div
			label Password:
			input(type='password', name='password', required=true)
		div
			input(type='submit', value='Register')
	a(href='/login') Log In
	script(src='/javascripts/signup.js')