extends layout

block content
	a(href='/report') Report
	|&nbsp;&nbsp;&nbsp;&nbsp;
	a(href='/' onclick='logout()') Logout
	div#tasks
	div#new
	script.
		var hostname = "#{hostname}";
	script(src='/javascripts/task.js')