extends layout

block content
	a(href=`/report/?token=${token}`) Report
	|&nbsp;&nbsp;&nbsp;&nbsp;
	a(href='/') Logout
	div#tasks
	div#new
	script.
		var token = !{JSON.stringify(token)};
	script(src='/javascripts/task.js')