extends layout

block content
	div#all
		a(href='/report') Report
		|&nbsp;&nbsp;&nbsp;&nbsp;
		a(href='' onclick='logout()') Logout
		div#tasks
		div#new
	
	div#error
	script.
		var hostname = "#{hostname}";
	script(src='/javascripts/task.js')