extends layout

block content
	div#header
		a(href='/report') Report
		|&nbsp;&nbsp;&nbsp;&nbsp;
		a(href='' onclick='logout()') Logout
	div#error
	div#tasks
	div#new
	script.
		var hostname = "#{hostname}";
	script(src='/javascripts/task.js')